@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../fonts/gilroy-medium/gilroy-medium.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-medium/gilroy-medium.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/gilroy-medium/gilroy-medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/gilroy-medium/gilroy-medium.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-medium/gilroy-medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/gilroy-medium/gilroy-medium.svg#gilroy-medium') format('svg');
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy-bold/gilroy-bold.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/gilroy-bold/gilroy-bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/gilroy-bold/gilroy-bold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-bold/gilroy-bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/gilroy-bold/gilroy-bold.svg#gilroy-bold') format('svg');
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy-regular/gilroy-regular.eot');
  /* IE 9 Compatibility Mode */
  src: url('../fonts/gilroy-regular/gilroy-regular.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */
    url('../fonts/gilroy-regular/gilroy-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/gilroy-regular/gilroy-regular.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('../fonts/gilroy-regular/gilroy-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/gilroy-regular/gilroy-regular.svg#gilroy-regular') format('svg');
  /* Chrome < 4, Legacy iOS */
}