body {

  font-family: 'Gilroy-Medium', sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 1295px;
  padding: 0;
  margin: 0 auto;
  height: 90px;
}


.container {
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 185px;
  height: auto;
  margin: 17px 35px;
}

.contacts {
  display: flex;
  padding: 0 30px;
}

.loc {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  padding: 0 30px;

}

.location-contatiner {
  border-radius: 50%;
  padding: 10px;
  width: 0;
  /* background-color:#4FBFA5; */
  background: url("../img/location.svg") no-repeat 50% 50%,
    #4FBFA5;
}

.button-helper {
  display: flex;
  align-items: center;
  background-color: #00868A;
  border: none;
  padding: 10px 15px;
  padding-bottom: 8px;
  margin: 0;
  cursor: pointer;
}

.eye-helper {
  padding: 0 30px;
}

.eye {
  order: -1;
  margin-right: 10px;
}

.social-club {
  padding: 0 28px;
}

.text-header {
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.button-text{
  color:white;
  white-space: nowrap;
}

.text-header a{
  text-decoration: none;
  color:black;
}
/*header-end*/


.info-screen{
  width:1295px;
  margin:0 auto;
}
.main{
  background-color: #4FBFA5;
}
.nav{
  display:flex;
  padding:0;
  justify-content: space-between;
  padding-top:23px;
  padding-bottom: 24px;
  align-items:center;
}

.nav-bar{
  display:flex;
  margin:0;
  list-style: none;
}

.nav-item:not(:last-child){
  margin-right:65px;
}
.nav-item:first-child {
  margin-left: 61px;
}

.nav-item  a{
  text-decoration: none;
  font-size: 18px;
  line-height: 150%;
  color:white;
}

.btn{
  border:none;
  background-color:white;
  cursor: pointer;
}
.btn-nav-text{
  font-size: 18px;
  line-height: 21px;
  color:black;
  padding: 10px 15px;
  padding-top:9px;
}
/* nav-end */
.medi-info{
  display:grid;
  grid-template-columns: 5fr 7fr;
  column-gap: 0;
}

.medi-info-container{
  align-self: center;
  color:#fff;
}
.title {
  font-size: 48px;
  line-height: 150%; 
  margin:0;
  margin-bottom: 20px;
}

.medi-info-text{
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 55px;
  max-width: 416px;
}

.more-info{
  text-transform:uppercase;
  align-items: center;
  padding: 15px 25px 14px;
  background-color:#00868A;
  text-decoration: none;
  color:#fff;
  font-family: 'Gilroy-Regular',sans-serif;
}
.next{
  transform: rotate(180deg);
  
}

.services-logo{
  float: right;
}

.button{
  background-color:#4FBFA5;
  border:1px solid white;
  padding:14px 10px ;
  float:right;
  align-self:bottom;
  margin-top:134px;
  cursor: pointer;
}

.btn-next {
  margin-right: 60px;
}

.about {
  display: flex;
  background-color: #00868A;
  grid-column: span 2;
  justify-content: space-between;
}

.procedure{
  padding:24px 199px;
}
.learn{
padding: 24px 83px;
}

.vip{
padding: 24px 99px;
}

.info-list>a{
  font-family: 'Gilroy-Regular',sans-serif;
  white-space: nowrap;
  font-size: 21px;
  line-height: 150%;
  color:#fff;
  text-decoration: none;
  cursor: pointer;
}

.info-list:hover{
  
  background-color:#4FBFA5;
}
/* /medi-info */

.inovations-news{
  background-color:#fff
}

.inovations-container{
  width: 1295px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.inovations{
  background-color:#00868A;
  display: block;
  padding-top: 35px;
  font-family: 'Gilroy-Regular',sans-serif;
  max-width: 526px;
  margin:0;
 
}

.sticker{
  margin-top: 35px;
  margin-left: 40px;
  padding:10px 15px;
  background-color:#4FBFA5;
  color: white;
  font-family: 'Gilroy-Regular', sans-serif;
}
.inovations>p{
  max-width:485px;
  color: white;
  font-size: 30px;
  line-height: 150%;
  margin-left: 40px;
}
.more {
  display: flex;
}

.more>button{
  background-color: inherit;
  border:1px solid white;
  margin-left: 40px;
  padding: 10px 13px;
  cursor: pointer;
}

.more>a{
  margin:auto;
  margin-left:20px;
  text-transform: uppercase;
  color:white;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Gilroy-Bold',sans-serif;
  text-decoration: none;
}

.img-service{
  display: flex;
  margin-top:45px;
  justify-content: flex-end;
}
.sertificats{
  display:flex;
 
}

.sertificats-container{
  display: flex;
  margin-top: 25px;
  background-image: url(/img/sertificat.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 195px;
  
}

.s-two{
  margin: 0;
}

.cnt{
  font-size: 48px;
  line-height: 150%;
  color: #000000;
  opacity: 0.3;
  margin-right: 20px;
}

.first{
 margin-top: 30px;
}
.stf-info-text{
 display: flex;
 align-items:center;
}

.text{
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  opacity: 0.3;
}

.cnt-main{
  font-size: 96px;
  line-height: 150%;
  color: #00868A;
  margin-right: 30px;
}

.main-text{
  font-size: 28px;
  line-height: 150%;
  color: #000000;
}
.main-num{
  margin:20px 0;
}

