body {
  background: #222222;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0;
}
.header {
  color: #d4d4d4;
}
.navigation {
  background: #222222;
}
.nav-block {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
  padding-bottom: 38px;
}
.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  list-style-type: none;
  align-items: center;
}
a {
  text-decoration: none;
  color: #d4d4d4;
}
.navbar-item {
  display: flex;
  padding-right: 30px;
}
.contacts {
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
}
.contacts-item {
  padding-right: 24px;
}
.description {
  background: #222222;
}
.description-block {
  display: flex;
  padding-bottom: 121px;
}
.description-info {
  margin-top: 128px;
  margin-left: 126px;
  margin-right: 142px;
}
.title {
  margin: 0;
  font-family: "Courier New";
  font-size: 44px;
  max-width: 238px;
}
.description p {
  margin: 0;
  margin-top: 32px;
  max-width: 255px;
  font-size: 14px;
  line-height: 17px;
  font-family: Verdana;
  margin-bottom: 54px;
}
.btn-yellow {
  display: flex;
  background-color: #ffcb06;
  padding: 17px 0px 16px 38px;
  color: black;
  border-radius: 25px;
}
.row {
  padding-left: 59px;
}
.adventages {
  background-color: #131313;
}
.adventages-block {
  display: flex;
  justify-content: space-between;
}
.advantages-icon {
  padding: 0;
  padding-bottom: 34px;
  padding-top: 85px;
}
.column-description {
  font-family: Verdana;
  margin: 0;
  max-width: 172px;
  font-size: 14px;
  line-height: 17px;
  color: #d4d4d4;
  padding-bottom: 79px;
}
.content {
  background-color: #fff;
  padding-top: 80px;
}
.content-block {
  display: flex;
  padding-bottom: 52px;
}
.info {
  margin-left: 79px;
}
.info h2 {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 44px;
}
.info p {
  font-family: Verdana;
  font-size: 14px;
  line-height: 17px;
  max-width: 454px;
  margin: 0;
  margin-bottom: 20px;
}
.documents-description:not(:last-child) {
  max-width: 447px;
  margin-right: 64px;
  font-family: Verdana;
  font-size: 14px;
  line-height: 17px;
}
.documents-description:last-child {
  max-width: 393px;
  font-family: Verdana;
  font-size: 14px;
  line-height: 17px;
}
.documents-list {
  display: flex;
  padding-bottom: 103px;
}
.documents {
  margin: 0;
  padding: 0;
  padding-left: 23px;
}
.doc-title {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 27px;
}

.documents-item {
  color: #ffcb06;
  margin-bottom: 23px;
}
li span {
  color: black;
}
.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #131313;
  padding-top: 60px;
  padding-bottom: 70px;
}
.line:not(:last-child) {
  width: 178px;
  border: 1px solid #555555;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 58px;
}
.line:last-child {
  width: 180px;
  border: 1px solid #555555;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 58px;
}
.holder {
  margin-right: 98px;
}
.holder:not(:first-child) {
  flex-direction: column;
}
.FAQ {
  display: flex;
  align-items: center;
  padding-bottom: 110px;
}
.holder-title {
  color: #d4d4d4;
  margin: 0;
}
.copyright {
  max-width: 162px;
  font-family: Verdana;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  padding: 0;
}
.links:not(:last-child) {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}

.links-title {
  margin: 0;
  font-family: Verdana;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #d4d4d4;
  padding-top: 30px;
}
.links-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.links-item {
  padding-bottom: 14px;
}
.footer-content {
  display: flex;
}
